.div-app {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-input {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.input-item {
    height: 2em;
    width: 20rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.section-todolist {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
