.outer {
    border: 1px solid black;
    overflow: hidden;
    border-radius: 10px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30em;

    /*For text positioning*/
    position: relative;
}

.inner {
    background-color: dodgerblue;

    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-in-out;

    /*For text positioning*/
    position: absolute;
    left: 0;
    top: 0;
}

.progress-text {
    color: mediumvioletred;
    position: relative;
}

